.loginWrapper {
  	background-color: #282c34;
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loginTitle {
	color: #fff;
	font-family: "Helvetica Neue";
}

.loginForm {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
}

.loginField {
	width: 100%;
	height: 30px;
}

.loginSubmit {
	position: relative;
	top: 2vh;
	width: 50%;
	height: 4vh;
}